:root {
    /* Neutral */
    --black: #89939E;
    --D_Grey: #4D4D4D;
    --Grey: #717171;
    --L_Grey: #89939E;
    --Grey-blue: #ABBED1;
    --Silver: #F5F7FA;
    --White: #FFFFFF;

    /* Primary */
    --Brand-primary: #4CAF4F;
    ;
    --Primary: #28CB8B;
    --Secondary: #263238;
    --Info: #2194f3;

    /*  Color Shade*/
    --Shade-1: #43A046;
    --Shade-2: #388E3B;
    --Shade-3: #237D31;
    --Shade-4: #1B5E1F;
    --Shade-5: #103E13;

    /* Color Tint */
    --Tint-1: #66BB69;
    --Tint-2: #81C784;
    --Tint-3: #A5D6A7;
    --Tint-4: #C8E6C9;
    --Tint-5: #E8F5E9;

    /* Font sizes */
    --headline-1: 4rem;
    --headline-2: 2.25rem;
    --headline-3: 1.75rem;
    --headline-4: 1.25rem;

    --body-1: 1.5rem;
    --body-2: 1rem;
    --body-3: 0.875rem;
    --body-4: 0.75rem;

    /* text */
    --text-gray-900: #18191F;


}

@font-face {
    font-family: 'Inter';
    src: url('../Inter/Inter-VariableFont_opsz,wght.ttf');
}

/* #region Generals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    min-width: 480px;
}

h1 {
    font-size: var(--headline-1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* #endregion */

/* #region header */
header {
    display: flex;
    flex-direction: column;
}


nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

nav ul a {
    color: var(--text-gray-900);
}

nav ul a:hover {
    text-decoration: underline;
}

/* #endregion */

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-top: 12px;
}



.outline-button {
    font-size: var(--body-3);
    color: var(--Brand-primary);
    background-color: transparent;
    border: 0;
}

.fill-button {
    font-size: var(--body-3);
    color: var(--White);
    background-color: var(--Brand-primary);
    border: 0;
    border-radius: 6px;
    padding: 10px 20px;
}

/* #region hero section */
main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-button {
    padding: 14px 32px;
}

.green-heading {
    color: var(--Brand-primary);
}

.hero {
    background-color: var(--Silver);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}

.hero p {
    color: var(--Grey);
    font-size: var(--body-2);
    font-weight: 400;
}

.hero img {
    width: 80%;
}

/* #endregion */

/* #region ourclients */
.manage-comunity,
#our-clients {
    text-align: center;
}

.marketing-section h2,
.design-section h2,
.unlock-section h2,
.achievements-section h2,
.manage-comunity h2,
#our-clients h2 {
    font-size: var(--headline-2);
    color: var(--D_Grey);
}

.marketing-section p,
.manage-comunity p,
#our-clients p {
    font-size: var(--body-2);
    color: var(--Grey);
}

#our-clients .brands {
    margin-top: 3rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 2rem 9rem;
}

.card h3 {
    font-size: var(--headline-3);
}

.card {
    box-shadow: 0 2px 4px #ABBED133;
    padding: 24px 32px;
    border-radius: 8px;
}

/* #endregion */

/* #region main-body */
.main-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.design-section,
.unlock-section {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 2rem;
}

.meat-customer figure img,
.design-section img {
    width: 100%;
}

.meat-customer,
.design-section>div p,
.unlock-section>div p {
    font-size: var(--body-3);
    color: var(--Grey);
}

.meat-customer,
.design-section>div,
.unlock-section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 2rem;
}

.description-customer .brands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-body>section {
    padding: 0 2rem;
}

.unlock-section img {
    width: 80%;
}

.achievements-section>div p {
    font-size: var(--body-2);
    color: var(--text-gray-900);
}

.achievements-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Silver);
    padding: 2em;
}

.cards-helping-container {
    margin-top: 2rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: end;
    gap: 1em;
}

/* #endregion */

/* #region meet-customers */
.meat-customer {
    background-color: var(--Silver);
    padding: 2% !important;
}

.meet-all-customers {
    position: relative;
}

.meet-all-customers img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(150%, 50%);
}

/* #endregion */

/* marketing-section */
.marketing-section {
    text-align: center;
}

.cards-marketing-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;

}

.card-marketing {
    position: relative;
}

.card-marketing figure img {
    width: 100%;
}

.card-marketing>div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    transform: translate(23%, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Silver);
    border-radius: 8px;
    padding: 16px;
}

.read-more>p {
    color: var(--Brand-primary);
}

.read-more {
    position: relative;
}

.read-more img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(150%, 50%);
}

/* #region footer */
footer {
    min-width: 480px;
}

footer section {
    text-align: center;
}

footer section .title-footer {
    font-size: var(--headline-1);
    font-weight: 500;
}


.grid-footer h4 {
    font-size: var(--headline-4);
}

.grid-footer a {
    color: var(--Silver);
    font-size: var(--body-3);
}

.grid-footer {
    display: grid;
    align-items: center;
    gap: 2rem;
    color: var(--Silver);
    background-color: var(--Secondary);
}

.social-media-container {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

#email {
    opacity: 20%;
    border-radius: 8px;
    padding: .5rem;
}

/* endregion */

@media (min-width: 768px) {
    .card {
        width: 50%;
    }

    .grid-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    header {
        padding: 0 3rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    nav ul {
        flex-direction: row;
    }
    .buttons-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .hero{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .brands {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 9%;
    }
    .cards-container{
        flex-direction: row;
        align-items: stretch;
    }
    .card{
        width: 20%;
    }
    .unlock-section{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .unlock-section > div{
        width: 40%;
        text-align: left;
        align-items: flex-start;
    }
    .unlock-section > figure img{
        width: 80%;
    }
    .achievements-section{
        flex-direction: row;
        justify-content:center ;
    }
    .cards-helping-container{
        width: 40%;
    }
    .design-section>div{
        width: 40%;
    }
    .design-section{
        flex-direction: row;
        justify-content: center;
    }
    .meat-customer{
        flex-direction: row;
        justify-content: center;
    }
    .description-customer .brands{
        flex-direction: row;
    }
    .description-customer{
        width: 40%;
    }
    .cards-marketing-container{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .grid-footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}